@using MyFinalProject.Models.VMs;

@model List<OrderVM>
<div style="background-color:skyblue;color:white" >
    <h2>Cart</h2>
    @foreach (var item in Model)
    {
            <div class="row">
                <div class="col-6" style="border:groove solid black; border-radius:3px">
                        <b>prodName</b> <span>@item.prodName</span>

                </div>
                <div class="col-6" style="border:groove solid black; border-radius:3px">
                    <b>prodPrice</b> <span>@item.prodPrice</span>
                </div>
                <div class="col-6" style="border:groove solid black; border-radius:3px">
                    <a  class="btn btn-dark">Remove</a>
                </div>

                </div>

                <hr />
    }
    <div style="margin-left:400px">
      <b>Order Total: </b>  @Model.Select(a=>a.prodPrice).Sum()
    </div>

</div>


