@model MyFinalProject.Models.Product

@{
    ViewData["Title"] = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="prodName" class="control-label"></label>
                <input asp-for="prodName" class="form-control" />
                <span asp-validation-for="prodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prodDesc" class="control-label"></label>
                <input asp-for="prodDesc" class="form-control" />
                <span asp-validation-for="prodDesc" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <label asp-for="CatID" class="control-label"></label>
                <input asp-for="CatID" class="form-control" />
                <span asp-validation-for="CatID" class="text-danger"></span>
               @* <select class="form-control" asp-for="CatID">
                    @foreach (var item in ViewBag.cat)
                    {
                                        <option value=@item.CatID >@item.CatName</option>
                    }
                </select>*@
            </div>   



            <div class="form-group">
                <label asp-for="prodStock" class="control-label"></label>
                <input asp-for="prodStock" class="form-control" />
                <span asp-validation-for="prodStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prodPrice" class="control-label"></label>
                <input asp-for="prodPrice" class="form-control" />
                <span asp-validation-for="prodPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
               <input type="file" asp-for= "prodImage" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Show">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
